/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
body {
}

$font-size-base: 1.20rem;
$h1-font-size: calc( $font-size-base +  0.50rem ) ;
$h2-font-size: calc( $font-size-base +  0.10rem ) ;
$h3-font-size: calc( $font-size-base +  0.08rem ) ;
$h4-font-size: calc( $font-size-base +  0.06rem ) ;
$h5-font-size: calc( $font-size-base +  0.04rem ) ;
$h6-font-size: calc( $font-size-base +  0.02rem  ) ;

/*-- scss:rules --*/
body {
  // font-family: 'M PLUS 1p';
  font-family: 'M PLUS Rounded 1c';
  font-size : 0.85rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 15px 0px 0px 0px;
  border-bottom: 1px silver dashed;
  margin-top: 40px;
  margin-bottom: 5px;
  padding:0px;
}

